@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header style  */


/* nav bar style  */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.nav-item{
   list-style: none;
   margin-right: 30px;
}
.nav-lnk{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    color: var(--Dark 01, rgba(19, 19, 19, 1));
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
}
.banner-descprotion{
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.btn-primari{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
}
.banner-image{
    width: 100%;
    margin-bottom: 40px;
}

/* main section  */

main{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}
.time{
    display: flex;
    gap: 73px;
    align-items: center;

}
.quick-list{
    margin-left: 73px;
}
.quick-title{
    font-size: 2.8rem;
}
.joy1{
    font-weight: 500;
}
.joy3{
    color: rgba(255, 144, 14, 1);
}
.quick-dixc {
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
    
}
.time-image-cintiner{
    display: grid;
    gap: 24PX;
    grid-template-columns: repeat(2,1fr);
}
.fact{
    box-sizing: border-box;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;

    /* Rectangle 6 */
    width: 241.83px;
    height: 241.83px;
}
.facts-continer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;
}
.our-sponsore{
    text-align: center;
    margin-top: 180px;
    margin-bottom: ;
}
.sponsor-title{
    color: var(--Dark 01, rgba(19, 19, 19, 1));
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
}
.sponsore-dex{
    color: var(--Dark 03, rgba(114, 114, 114, 1));
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;    
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155px;
    margin-top: 50px;
}
.sponsore-img{
    /* spotify Logo */
     width: 166.76px;
     height: 50px;
    filter: grayscale(100%);
}
/* footer section  */
footer{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}
.footer-main{
    /* Rectangle 11 */
    width: 100%;
    
}
.footer{
    border-radius: 8px;
    background: rgba(255, 244, 231, 1);   
    text-align: center;
    padding: 40px;
}
/* rensponciv disine */
@media screen and (max-width:576px){
    /* heade section  */
    .navbar, 
    .nav-link,
    .time
    {
        flex-direction: column;
    }
    .nav-link{
        gap: 40px;
    }

    /* header end hear  */
    /* main section  */
    .time-image-cintiner{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-continer{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-items: center;
    }
    .center{
        text-align: center;
    }
    .sponsor-image{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 40px;
    }
    
}
/* midiyam diviyas  */
@media screen and (min-width:577px) and (max-width:992px) {
    .time{
        flex-direction: column;
    }
    .facts-continer{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        justify-items: center;
    }
    .center{
        text-align: center;
    }
    .sponsor-image{
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
    }
}